<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome Page</title>
<style>
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    
  }
  h1{
    color: white;
  }
  p{
    color: white;
  }
  a{
    color: white;
  }
  .container {
    margin-top: 100px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #000080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .btn:hover {
    background-color: #000080;
  }
</style>
</head>
<body style=" background-image: url('first2.jpg'); background-size:150%; background-position: center;">
  <div class="container">
    <h1>Welcome to Freshers Zone!</h1>
    <p>We're glad you're here.</p>
    <a href="date.html"><button class="btn">Let's Go</button></a>
  </div>
</body>
</html>
